.container {
    width: 50rem;
    height: 100vh;
}

@media (max-width : 760px) {
.container{
    text-align: center;
}
}

@media (max-width : 326px) {
    .container{
        width: 20rem;
        text-align: center;
        margin: auto;
    }

    }