@value makerGreen, makerWhite from '../../common/colors.css';

.header {
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em;
    width: 100%;
    color: makerWhite;
    background-color: makerGreen;
    text-align: center;
}