@value makerGreen, makerWhite from '../../common/colors.css';
@value fontsmall from '../../common/size.css';
.container {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background-color: makerGreen;
    padding: 0.5em;
}
.footer {
    color: makerWhite;
    padding: 0.1em 0;
}

.right {
    font-size: fontsmall;
    display: flex;
}