@value makerGrey from './common/colors.css';

body {
  background-color: makerGrey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

@media (max-width : 326px) {
  .container{
    width: 20em;
    text-align: center;
  }
  }